$custom-colors: (
  primary: hsl(18, 80%, 68%),
  primary-light: hsl(18, 80%, 76%),
  primary-dark: hsl(18, 80%, 60%),
  primary-darker: hsl(18, 80%, 52%),
  secondary: hsl(225, 41%, 36%),
  secondary-dark: hsl(224, 41%, 24%),
  canvas: hsl(200, 20%, 97%),
  canvas-dark: hsl(0, 0%, 68%),
  info: hsl(224, 41%, 44%),
  success: hsl(98, 52%, 60%),
  warning: hsl(24, 99%, 59%),
  danger: hsl(355, 78%, 60%)
);
