$custom-colors: (
  primary: hsl(217, 100%, 50%),
  primary-light: hsl(217, 100%, 65%),
  primary-lighter: hsl(217, 100%, 80%),
  primary-dark: hsl(217, 100%, 35%),
  primary-darker: hsl(217, 100%, 20%),
  secondary: hsl(25, 100%, 55%),
  secondary-dark: hsl(25, 100%, 40%),
  tertiary: hsl(249, 100%, 53%),
  tertiary-dark: hsl(249, 100%, 40%),
  tertiary-light: hsl(249, 100%, 65%),
  canvas: hsl(200, 20%, 97%),
  canvas-dark: hsl(0, 0%, 75%),
  info: hsl(217, 100%, 50%),
  success: hsl(98, 52%, 60%),
  warning: hsl(52, 100%, 55%),
  danger: hsl(355, 78%, 60%),
  text: hsl(217, 100%, 10%)
);
