$font-family: 'Work Sans';

@font-face {
  font-family: 'Work Sans';
  src: url('assets/fonts/work_sans/WorkSans.ttf');
  font-weight: 1 900;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('assets/fonts/work_sans/WorkSans-Italic.ttf');
  font-weight: 1 900;
  font-style: italic;
}
